body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
}

#app {
  padding: 20px;
}

#bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #222;
}

#burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
}
